
.largebox{
	border: black solid;
	height: 500px;
}

.smallbox{
	margin: 200px;
	text-align: center;
	height: 100px;
}

.homepageTitle{

	
	text-align: center
}

.homepageButtons{
	font-size: 24px;
	size: 200%;
	margin-left: 10px;
	margin-right: 10px;
}

.list-group-item {

	width: 150px;
}

#dayHeader{

	display: inline-block;
}
#timePicker{
	width: 85px;
	display: inline-block;
}

#smallForm{

	width: 10px;
}

#totalHours{

	border: solid;
	border-color: grey;
	height: 75px;
	overflow-y: auto;
		
}

.panel-heading{

	height:40px;
}
#addemployeeDiv{

	border: solid grey 4px;
}
#schedule{
	height: 500px;
	overflow-y: auto;
		
}

#todaysDate{
	float: right;
}
#glyph-remove{
	float:right;
}

#hours{
	float: right;
}


#day, #station, #time{
	width: 80px;
}

#visit, #home, #umpire{

	width: 100px;
}

